
.buscador{
  margin-top: 7px;
  margin-left:40%;
}


#inputGroupSelect04{
  width:30%;
  min-width:200px;
}

#contenedorprincipal{
  margin-top: 10px

}

#contenedorprincipal img{
  width:85%;
  height:550px;
  margin-left: 10%;
}
