@charset "UTF-8";

select {
  font-size: 16px !important;
}
.fijo {
    position: fixed;
    bottom: 0;
    left: 48%;
}

h2 {
	text-align: center;
	margin-top: 5px;
}
.container-fondo {
	background-color: aqua;
}

.encabezado {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
}

.tarjeta {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
container {
    height: 100%;
}