
.buscador{
  margin-top: 7px;
  margin-left: 35%;
}


#inputGroupSelect04{
  width:30%;
  min-width:200px;
}

#contenedorprincipal{
  margin-top: 10px

}

#contenedorprincipal img{
  width:85%;
  height:550px;
  margin-left: 10%;
}

.botonrojo{
    width:85px;
    height:40px;
}
